body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  box-sizing: border-box;
}

.commissionReport-AccordianSummery .Mui-expanded{
  margin: 0 !important;
}
.MuiTypography-root.MuiTypography-body1.css-gv9xp0-MuiTypography-root {
  line-height: 1 !important; /* Adjust the line height as needed */
}