name: Deploy fairgame
on:
  push:
    branches:
      - pheonix_pardeep
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Set CI Environment Variable
      run: echo "CI=false" >> $GITHUB_ENV
    - name: Checkout Repository
      uses: actions/checkout@v2
    - name: Install Node.js
      uses: actions/setup-node@v2
      with:
        node-version: 18
    - name: Install Frontend Dependencies
      run: npm install --legacy-peer-deps --force
    - name: Build React App
      run: npm run build:staging
    - name: Clean target directory
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.SERVER_HOST }}
        username: ${{ secrets.SERVER_USERNAME }}
        key: ${{ secrets.SERVER_KEY }}
        port: ${{ secrets.SERVER_PORT }}
        script: |
          sudo rm -r /var/www/frontend/wallet
          mkdir -p /var/www/frontend/wallet
    
    - name: Deploy Frontend to Ubuntu Server
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.SERVER_HOST }}
        username: ${{ secrets.SERVER_USERNAME }}
        key: ${{ secrets.SERVER_KEY }}
        port: ${{ secrets.SERVER_PORT }}
        strip_components: 1
        source: "dist"
        target: "/var/www/frontend/wallet"
